---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "variables",
        "skeleton",
        "syntax-highlighting"
;

// Layout
html,
body {
  height: 100%;
}


// Site header
.site-header {
  background-color: $gray-1;
  height: 100%;
  padding: 2rem;

  a {
    color: #fff;
  }
}

.site-title {
  font-size: 2.7rem;
}

.site-nav {
  margin: 5rem 0;
}

// Site Footer

.site-footer {
  border-top: 1px solid $gray-3;
  padding: 2rem 0;
}

// Icons
.icon svg {
  width: 20px;

}


// Utilities
.u-no-bullets {
  list-style-type: none;
  margin: 0;
}

.u-m-0 {
  margin: 0;
}

// Typography
a,
a:hover,
a:link,
a:active,
a:visited {
  text-decoration: none;
}

// Page
.page-header {
  padding: 2rem 0;
  border-bottom: 1px solid $gray-3;
}

// Posts
.post {
  margin: 2rem 0;
  max-width: 600px;
}

.post-title {
  margin-bottom: 0;
}

.post-meta {
  font-size: 1.4rem;
  color: $gray-2;
  margin-bottom: 1rem;
}