// Variables

$gray-1: #373739;
$gray-2: #5F5F63;
$gray-3: #B8B8BF;
$gray-4: #f8f8f8;
$primary: #E54747; // Salmon
$secondary: #32A18B; // Teal

// Breakpoints
$small: 400px;
$medium: 550px;
$tablet: 750px;
$desktop: 1000px;